{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'epi/style.css' %}"/>
</head>

<body>
<h1>Détail du kit « {{ kitname }} »</h1>

{% if validEPIList %}
<table class="kitlist">
    <tr>
        <th>Type</th>
        <th>Marque</th>
        <th>Modèle</th>
        <th>Serial</th>
        <th>Date d’achat</th>
        <th>Date dernière inspection</th>
    <tr>
    {% for epi in validEPIList %}
        {% if epi.inspection_set.last.e_result == 'AS' %}
            <tr class="surveiller">
        {% elif epi.inspection_set.last.e_result == 'AR' %}
            <tr class="reparer">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ epi.e_type }}</td>
            <td>{{ epi.e_brand }}</td>
            <td>{{ epi.e_model }}</td>
            <td><a href="{% url 'admin:epi_epi_change' epi.id %}">{{ epi.e_serial }}</a></td>
            <td>{{ epi.e_buyDate|date:'d/m/Y' }}</td>
            <td>{{ epi.inspection_set.last.e_date|date:'d/m/Y' }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>Pas d’EPI associé à ce kit</p>
{% endif %}

</body>
