table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}

.surveiller {
    background-color: #ffeecc;
}
.reparer {
    background-color: #D8D8D8;
}
